@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    --dark-cyan-color:hsl(158, 36%, 37%);
    --cream-color:hsl(30, 38%, 92%);
    --very-dark-blue-color:hsl(212, 21%, 14%);
    --dark-grayish-blue-color:hsl(228, 12%, 48%);
    --white-color:hsl(0, 0%, 100%);
}

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    height: 100vh;
    font-size: 14px;
    background-color: var(--cream-color);
}

#container{
    margin: auto;
    margin-top: 5%;
    width: 900px;
    height: 650px;
}
#flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 20px;
    max-height: 100%;
}
header,main{
    flex: 1;
}
header{
    width: 50%;
    height: 600px;
    overflow: hidden;
}
#image {
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px; 
  height:100%;
}
main{
width: 50%;
    
}
#perfume{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: var(--dark-grayish-blue-color);
    letter-spacing: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight:lighter;
    display: block;
}

main > h1{
    font-family: 'Fraunces', serif;
    font-size: 55px;
    padding-right: 10%;
    margin: auto;
    margin-right: 10%;
}
#paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--dark-grayish-blue-color);
    margin-top: 5px;
    margin-bottom: 10px;
}
#price{
    font-family: 'Fraunces', serif;
    font-size: 50px;
    color: var(--dark-cyan-color);
    margin-top:20px;
    margin-bottom: 20px;
}
#price > span{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue-color);
    text-decoration: line-through;
    padding-left: 10px;
    padding-bottom: 10px;
}
button{
    background-color: var(--dark-cyan-color);
    color: var(--white-color);
    width: 95%;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    border-style: none;
}

button > img{
    padding-right: 5%;
    font-size: 60px;
}

@media screen and (max-width: 375px) {
    #container {
      width: 100%;
    }
    #flex-container{
        display: flex;
        flex-wrap: wrap;
    }
  }